<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--SEO-->
    <meta name="keywords" content="Negocio, Musica, Instrumentos, Venta, Buenos Aires">
    <meta name="description" content="Encontra todas las novedades en nuestros productos - Music House">

    <!--link Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!--Estilos Propios-->
    <link rel="stylesheet" href="../css/styles.css">

    <title>Productos - Novedades - Music House</title>
</head>

<body>

    <!--Barra de Navegacion-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light gradienteLineal shadow p-3 mb-4 bg-white rounded">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="brown"
                    class="bi bi-file-music-fill" viewBox="0 0 16 16">
                    <path
                        d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm-.5 4.11v1.8l-2.5.5v5.09c0 .495-.301.883-.662 1.123C7.974 12.866 7.499 13 7 13c-.5 0-.974-.134-1.338-.377-.36-.24-.662-.628-.662-1.123s.301-.883.662-1.123C6.026 10.134 6.501 10 7 10c.356 0 .7.068 1 .196V4.41a1 1 0 0 1 .804-.98l1.5-.3a1 1 0 0 1 1.196.98z" />
                </svg>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav d-flex justify-content-around w-100 text-center">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="../index.html"><strong>Inicio</strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="./productos.html"><strong>Productos</strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./tutoriales.html"><strong>Tutoriales</strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./nosotros.html"><strong>Nosotros</strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./contacto.html"><strong>Contacto</strong></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!--Sección Carrousel-->
    <section class="container-fluid bg-light text-center p-3">
        <h1 class="animacionTitulos">Productos</h1>
        <h2 class="animacionTitulos"><strong>El instrumento que buscás está aquí</strong></h2>
    </section>
    <section>
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img srcset="../img/KorgKronosChica.png 480w,
                                ../img/KorgKronos.jpg 800w"
                    sizes="(max-width: 600px) 480px,
                    800px"
                    src="../img/KorgKronos.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5 class="text-white bg-dark">Korg Kronos</h5>
                        <p class="text-white bg-dark text-center">El teclado insignia de Korg</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img srcset="../img/YamahaMotifChica.png 480w,
                                ../img/YamahaMotif.jpg 800w"
                    sizes="(max-width: 600px) 480px,
                    800px"
                    src="../img/YamahaMotif.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5 class="text-white bg-dark">Yamaha Motif</h5>
                        <p class="text-white bg-dark text-center">La renovada opción de Yamaha</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img srcset="../img/WavegrandeChica.png 480w,
                                ../img/Wavegrande.jpg 800w"
                    sizes="(max-width: 600px) 480px,
                    800px"
                    src="../img/Wavegrande.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5 class="text-white bg-dark">Nord Wave</h5>
                        <p class="text-white bg-dark text-center">El todoterreno de Nord</p>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>

    <!--Sección de productos-->
    <main class="container">
        <section class="row justify-content-around m-4">
            <div class="card col-3 p-2 m-1" style="width: 18rem;">
                <img src="../img/Minikorg.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Korg Minikorg</h5>
                    <p class="card-text">Un teclado clásico y versatil</p>
                    <a href="#" class="btn btn-primary">Comprá Ahora</a>
                </div>
            </div>
            <div class="card col-3 p-2 m-1" style="width: 18rem;">
                <img src="../img/Nord Lead.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Nord Lead</h5>
                    <p class="card-text">Lo último del gigante sueco</p>
                    <a href="#" class="btn btn-primary">Comprá Ahora</a>
                </div>
            </div>
            <div class="card col-3 p-1 m-1" style="width: 18rem;">
                <img src="../img/Yamaha Reface.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Yamaha Reface</h5>
                    <p class="card-text">Sonidos vintage para tu música</p>
                    <a href="#" class="btn btn-primary">Comprá Ahora</a>
                </div>
            </div>
        </section>
    </main>





    <!--Footer Derechos y Redes-->
    <footer>
        <div class="container-fluid bg-secondary bg-opacity-25 text-dark text-center p-3">
            <span><a href="https://wwww.facebook.com/" target="_blank">Facebook</a></span>
            <span><a href="https://wwww.instagram.com/" target="_blank">Instagram</a></span>
            <span><a href="https://wwww.web.whatsappo.com/" target="_blank">Whatsapp</a></span>
            <div class="small">&copy; Todos los derechos reservados</div>
        </div>
    </footer>

    <!--JavaScritp Bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>
</body>

</html>